<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>compruebaLogin</servlet-name>
        <servlet-class>Servlets.compruebaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlta</servlet-name>
        <servlet-class>Servlets.ServletAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfirmacionCompra</servlet-name>
        <servlet-class>Servlets.ServletConfirmacionCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarCantidad</servlet-name>
        <servlet-class>Servlets.ServletModificarCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarProducto</servlet-name>
        <servlet-class>Servlets.ServletEliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarACarro</servlet-name>
        <servlet-class>Servlets.ServletAgregarACarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salir</servlet-name>
        <servlet-class>Servlets.salir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compruebaLogin</servlet-name>
        <url-pattern>/compruebaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlta</servlet-name>
        <url-pattern>/ServletAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfirmacionCompra</servlet-name>
        <url-pattern>/ServletConfirmacionCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarCantidad</servlet-name>
        <url-pattern>/ServletModificarCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarProducto</servlet-name>
        <url-pattern>/ServletEliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarACarro</servlet-name>
        <url-pattern>/ServletAgregarACarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salir</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
